body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.mune{
    position: relative;
    width: 524px;
    height: 60px;
    background: #222;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.mune a{
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    padding: 0 24px;
    z-index: 1;
}
.mune span{
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #4f1919 , #ff3333);
    border-radius: 8px;
    transition: .5s;
}
.mune a:nth-child(1):hover~span{
    left: 0;
}

.mune a:nth-child(2):hover~span{
    left: 90px;
}
.mune a:nth-child(3):hover~span{
    left: 182px;
}
.mune a:nth-child(4):hover~span{
    left: 275px;
}
.mune a:nth-child(5):hover~span{
    left: 353px;
}
.mune a:nth-child(6):hover~span{
    left: 430px;
}

